x

/* -------------------------------------------------------------- 
   Menu
-------------------------------------------------------------- */

.mega-container
{
	text-align: center;
	list-style-type: none !important;
	padding: 0;
	margin: 0;

	
}

/* List item styling */
.mega-container li			{ list-style-type: none; }

.mega
{
	float: left;
	position: relative;
	z-index: 10;
	padding-left: 10px; 
	margin: 8px 0 10px 0;
	list-style-type: none !important;
}

	.mega:first-child { background: none !important; }

	.mega:hover { z-index: 10000 !important; }
	*:first-child+html .mega:hover { zoom: 1 !important;  }


/* Menu tab styling */	

.mega .mega-tab,
.mega .mega-link,
.mega-current .mega-tab,
.mega-current .mega-link
{
	background: url(../images/button-gradient.png) repeat-x right -200px ;	
	font-weight: bold;
	color: #222;	
	font-size: 12px;
	text-decoration: none;
	line-height: 0;	
	display: block;
	padding: 15px 35px 15px 10px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	cursor: pointer;	
	position: relative;	
	z-index: 2;	
	border: 1px solid transparent;
	

}

.mega-current .mega-tab { background-position: right -100px !important; }

.mega-link { background-position: right -2000px !important; color: #fff !important; padding-right: 10px !important; padding-bottom: 10px; width:170px }

.mega-link:hover,
.mega-current .mega-link
{ 
	background-position: right -100px !important;		
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;	
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .mega .mega-tab,
    .mega .mega-link  { padding-bottom: 10px !important; }
}

	.mega:hover .mega-tab
	{
		background-position: right -100px; 
		background-color: #AAA;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	
/* Content container styling */	

.mega-content 
{ 
	width: 175px;
	display: none; 
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 0;
	border-radius: 4px;
	border-top-left-radius: 0;	
	padding: 10px;
	position: absolute;
	top: 98%;	
	left: 10px;
	border: 4px solid rgba(0,0,0,.2);
	text-align: center;
	color: #222;
	font-size: 11px;
	z-index: 6;
	background: rgba(0,0,0,.2);
}

	.mega .mega-content li { background-image: none; }
	.mega:hover .mega-content { display: block; border-color: #aaa; }	

	*+html .mega-content { padding-bottom: 5px !important; } /* Fix padding in IE7 */
	*+html .mega-menu li > ul { padding-top: 5px !important; padding-bottom: 10px !important; }
	


/* Drop Menu Styling */

.mega-menu { background: rgba(0,0,0,.2); filter: none !important; padding: 5px 5px 0 !important; z-index: 10000 !important; }

.mega-menu ul { list-style-type: none; margin: 0; }
	
	.mega-menu li { margin-bottom: .5em; }
	
		.mega-menu li a
		{			 
			background-color: #F9F9F9;  
			display: block;
			padding: 5px 10px 5px 10px;
			color: #358;
			text-decoration: none;
			font-weight: bold;
			-moz-border-radius: 4px; 
			-webkit-border-radius: 4px; 
			border-radius: 4px;
		}
		
		.mega-menu li a.hasSub { background-image:  url(../images/link-menu-arrow.png); background-repeat: no-repeat; background-position: 95% 50% ;}

		
			.mega-menu li a:hover { background-color: #DDD; }

		.mega-menu li { position: relative; }
			.mega-menu li:hover > ul { display: block !important; }
			
		.mega-menu li > ul { background: rgba(0,0,0,.7); width: 175px; padding: 10px 10px 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; z-index: 1000; position: absolute; left: 100%; top: 0; }


		
		
/* Utility Classes */

.mega-left { left: 0; }
.mega-right { left: auto; right: 0; }

	.mega-right 
	{ 
		-webkit-border-radius: 4px;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius: 4px;
		-moz-border-radius-topright: 0;
		border-radius: 4px;
		border-top-right-radius: 0;	
	}


/* Color styling */


.mega-container .mega-tab { background-color: transparent; color: #fff !important; background-position: right top; border: 1px solid transparent; }

.mega-container .mega:hover .mega-tab,
.mega-container .mega:hover .mega-link,
.mega-container .mega-current .mega-tab,
.mega-container .mega-current .mega-link  { background-color: rgba(0,0,0,.2); color: #000 !important;    }

.mega-container .mega:hover .mega-content { border-color: #fff; }
.mega-container .mega-menu { background: #fff !important; }
.mega-container li > ul { background-color: #263849 !important; }

.mega-container img{
float: left;
margin-right: 6px;
margin-top: -8px;

}





/* -------------------------------------------------------------- 
   Buttons
-------------------------------------------------------------- */
.btnt,
.btnt-icon,
.btnt-mini
{
	background-repeat: repeat-x;
	color: #FFF;	
	font-weight: bold;
	display: inline-block;	
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	padding: 0 15px 4px;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=2);
	cursor: pointer;
	position: relative;
}
	
	/* Active/Click state */
	.btnt:active, .btnt-icon:active, .btnt-mini:active { top: 1px; }


/* Sizes */
.btnt, .btnt-icon { background-position: 0 -80px; font-size: 12px; height: 32px; line-height: 29px; }
.btnt.btnt-small, .btnt-icon.btnt-small { background-position: 0 0; font-size: 10px; height: 26px; line-height: 23px; }
.btnt.btnt-large, .btnt-icon.btnt-large { background-position: 0 -160px; font-size: 15px; height: 42px; line-height: 40px; }

	/* Sizes - Line height for A buttons need to be different */
	a.btnt, a.btnt-icon { height: 32px; line-height: 32px; padding-bottom: 0; }
	a.btnt.btnt-small, a.btnt-icon.btnt-small { line-height: 26px; padding-bottom: 0; }
	a.btnt.btnt-large, a.btnt-icon.btnt-large { line-height: 42px; padding-bottom: 0; }
	

/* Fix the button in IE7 :-( */
*+html .btnt, *+html .btnt-icon { border-color: none ; border: 1px solid transparent; }



/* Set default button colors */
.btnt, .btnt-icon, .btnt-mini {  background-image: url(../images/bg-lite.png); background-color: #263849; border-color: #16222C; }
.btnt:hover, .btnt-icon:hover, .btnt-mini:hover { background-color: #16222C; color: #FFF; }

.btnt-orange { background-color: #F90; border-color: #D58000; }
.btnt-orange:hover { background-color: #D58000; }

.btnt-grey { background-color: #999; border-color: #888; }
.btnt-grey:hover { background-color: #888; }



/* Images Overlays - Gradient Effect */
/* 50% Opacity for darker colors */
.btnt-grey { background-image: url(../images/bg-dark.png) !important; }


/* 65% opacity for lighter colors */
.btnt-orange { background-image: url(../images/bg-lite.png) !important; }


/* Icon Button Styles */
.btnt-icon { padding-left: 32px !important; }
*+html .btnt-icon { padding-left: 20px !important; padding-right: 5px !important; }

.btnt-icon span
{
	background-image: url(../images/amp-btnt-icon-sprite.png); 
	background-repeat: no-repeat; 
	background-position: 0 0; 
	width: 16px; 
	height: 16px; 
	position: absolute; 
	left: 6px; 
	top: 6px;
}

	.btnt-icon.btnt-small span { top: 4px; }
	.btnt-icon.btnt-large span { top: 12px; }
	@-moz-document url-prefix() { .btnt-icon span { left: -24px; top: 0px; } .btnt-icon.btnt-small span { top: -1px; } .btnt-icon.btnt-large span { top: 4px; } } 


/* Mini Buttons */
.btnt-mini 
{ 
	background-position: 0 0; 
	width: 32px; 
	height: 26px !important; 
	line-height: 500px !important; 
	overflow: hidden;
	padding: 0; 
}

	.btnt-mini span 
	{ 
		background-image: url(../images/amp-btnt-icon-sprite.png); 
		background-repeat: no-repeat; 
		display: block;
		width: 16px; 
		height: 16px;
		line-height: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -8px;
		margin-top: -8px;
	}
	
	
/* Icon Classes */
.btnt-arrow-down span { background-position: -48px 0; }
.btnt-arrow-up span { background-position: -32px 0; }
.btnt-arrow-right span { background-position: -16px 0; }
.btnt-arrow-left span { background-position: 0 0; }
.btnt-comment span { background-position: -112px 0; }
.btnt-heart span { background-position: -96px 0; }
.btnt-star span { background-position: -80px 0; }
.btnt-cart span { background-position: -64px 0; }
.btnt-print span { background-position: -128px 0; }
.btnt-rss span { background-position: -144px 0; }
.btnt-person span { background-position: 0 -16px; }
.btnt-check span { background-position: -16px -16px; }
.btnt-dollar span { background-position: -32px -16px; }
.btnt-refresh span { background-position: -48px -16px; }
.btnt-home span { background-position: -64px -16px; }
.btnt-plus span { background-position: -80px -16px; }
.btnt-minus span { background-position: -96px -16px; }
.btnt-cross span { background-position: -112px -16px; }
	
	
/* Transparent Button Styles */
.btnt-transparent, .btnt-transparent:hover { background-image: url(../images/bg-lite.png); background-color: transparent; filter: none; border-color: transparent\0/; border-color: rgba(0,0,0,.4) !important; margin: 0 1em 0 0; }
*+html .btnt-transparent { border: none; }

#select-add{
background-color: #db0865;
border: 1px solid #DDDDDD;
    text-decoration: none;
color:#FFFFFF;
    padding: 7px;
}

#select-add:hover{

    text-decoration:underline;

}


#select-remove{
background-color: #db0865;
border: 1px solid #DDDDDD;
    text-decoration: none;
color:#FFFFFF;
    padding: 7px;
}

#select-remove:hover{

    text-decoration:underline;

}

.photos img{
border: 1px solid #CCCCCC;
    padding: 4px;
}

.bolded{
font-weight:bold;
}
.bolded2{
font-weight:bold;
font-size:18px;
}
td.d {
cursor: pointer;
color:#D4075C;
font-weight:bold;
}
div.checkbox{
	 float: left;
    width: 177px;
}
div.checkbox label{
     float: right;
    text-align: left;
}
div.checkbox checker{
	float :right ;
	clear :both ;
}





 #lineone{
width:85%; 
margin:0 auto; 
background:#fff;padding: 5px 5px 5px 5px;box-shadow: 2px 2px 2px 2px #fff, 2px 1px 1px #000,3px 2px 1px #000,3px 3px 1px #000, 2px 2px 2px #000,2px 2px 2px #000;

} 
 #lineone ul{list-style:none;

}  
#lineone ul li ul li {list-style:none;
 float: none;
} 
#lineone ul li ul{
} 
#lineone ul li ul li a{list-style:none; 
 float: none;
} 
 #lineone li{float:left;
line-height:51px;
text-align:center;
} 
 #lineone li:hover{
} 
 #lineone li a{font-size:14px;
color:#000;
text-decoration:none;
 display:block;
} 
 #lineone li a:hover{color:#004080;
text-decoration:underline;
} 
.widthcent{
width:130px;
line-height: 90%!important;
}
.widthcent2{
width:100%;
background:#000 !important;
line-height: 90%!important;
}
.widthcent3{ 
color:#fff;
/*border: 2px solid blue;
border-radius: 4px;*/
}
.widthcent4{ 
margin-right: 15px;
}
.widthcent5{
width:90%;
background:#000 !important;
line-height: 90%!important;
}